<h1>My Spendings App</h1>
<%= link_to 'Create spending', new_user_spending_path(current_user) %>
<%= link_to 'Watch my spendings', user_spendings_path(current_user) %>
<%= link_to 'Create category', new_category_path %>
